html {
    background-color: black;
    color: gold;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}