/* all */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #d4af37;
    font-family: Georgia, serif;
}

/* bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 2px solid #d4af37;
}

/* icon */
.icon img {
    width: 70px;
}

/* links */
.nav-bar {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #d4af37;
    padding: 10px 30px;
    background-color: #5a4300;
    border: 1px solid #d4af37;
    font-size: 18px;
}

/* search */
.search input {
    width: 260px;
    height: 35px;
    background: linear-gradient(to right, #5a4300, #d4af37);
    border: none;
    outline: none;
}

/* img shit */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 0 60px;
}

/* logo */
.hero-left {
    max-width: 600px;
}

.hero-left img {
    width: 100%;
    margin-bottom: 30px;
}

.hero-left p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 18px;
}

/* buy */
.hero-left button {
    background: transparent;
    border: 2px solid #d4af37;
    color: #d4af37;
    padding: 12px 45px;
    font-size: 24px;
    cursor: pointer;
}

.hero-left button:hover {
    background: #d4af37;
    color: black;
}

/* right img */
.hero-right img {
    width: 600px;
    margin-right: 0;
}

/* foot */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.site-footer {
    background-color: #311F01;
    color: #d4af37;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    list-style-type: none;
}

.about {
    padding: 25px 25px;
    max-width: 1000px;
}

/* shop */
.selection-section {
    text-align: center;
    padding: 40px 60px;
}

.selection-section h1 {
    font-size: 80px;
    font-style: italic;
    margin-bottom: 20px;
}

.selection-section p {
    max-width: 900px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.product {
    width: 22%;
    text-align: left;
}

.product img {
    width: 70%;
    background-color: #5a4300;
    padding: 10px;
}

.product h3 {
    margin-top: 10px;
    font-size: 20px;
}

.product p {
    font-size: 14px;
    margin: 10px 0;
}

.read-more {
    font-size: 14px;
    color: #d4af37;
    text-decoration: none;
}

.price {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #d4af37;
    font-size: 20px;
}

/* brew guide page */

h2, h3 {
    line-height: 50px;
}

.brewguidehero {
    color: #d4af37;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px black;
    letter-spacing: 20px;
    background-image: url("brewingguide.jpg");
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #d4af37;
    border-bottom: 5px solid #d4af37;
    background-attachment: fixed;
}

.container1 {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    color: black;
    padding-bottom: 30px;
    line-height: 25px;
}

.brew-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.brew-card {
    background: #c9a227;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.brew-card:hover {
    transform: scale(1.05);
}

.brew-card img {
    width: 100%;
}

.dots {
    margin: 15px 0;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #c9a227;
}

.active {
    background: #c9a227;
}

.info-box {
    background: #c9a227;
    padding: 30px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    text-align: left;
}